<div class="flex flex-col gap-2">
    <div class="flex justify-between">
        <p class="text-sm opacity-50">Password Strength</p>
        <p class="text-sm opacity-50">{{strengthText}}</p>
    </div>
    <div class="flex gap-1">
        <div *ngFor="let i of [1, 2, 3, 4]"
        class="w-1/4 h-1 rounded transition-all duration-500"
        [ngClass]="{
            'bg-gray-300': strength < i,
            'bg-red-500': strength === 1 && i <= 1,
            'bg-orange-500': strength === 2 && i <= 2,
            'bg-yellow-500': strength === 3 && i <= 3,
            'bg-green-500': strength >=4,
        }"></div>
    </div>
</div>

