<div class="hover:bg-gray-200 bg-white transition-colors
duration-500 rounded-full p-1 size-6 cursor-pointer"
(click)="editUserModal()">
    <lucide-icon [img]="UserRoundPen" class="size-4 stroke-black">

    </lucide-icon>
</div>
<div class="hover:bg-gray-200 bg-white transition-colors
duration-500 rounded-full p-1 size-6 cursor-pointer"
(click)="viewUserModal()">
    <lucide-icon [img]="Eye" class="size-4 stroke-black">

    </lucide-icon>
</div>
<div class="hover:bg-gray-200 bg-white transition-colors
duration-500 rounded-full p-1 size-6 cursor-pointer"
>
    <lucide-icon [img]="Trash" class="size-4 stroke-black">

    </lucide-icon>
</div>
