<div class="grid grid-cols-2 grid-rows-3 w-full">
    @for (criterion of criteria; track $index) {
        <ul>
            <li class="flex gap-1 mb-6
            text-sm font-light items-center">
                @if (criterion.met) {
                    <lucide-icon [img]="Check" class="stroke-blue-400"></lucide-icon>
                } @else {
                    <lucide-icon [img]="X" class="stroke-gray-400"></lucide-icon>
                }
                <span>{{criterion.label}}</span>
            </li>
        </ul>
    }

</div>